.applications {
  width: auto;
  overflow: hidden;
}

.applications__list {
  @include list-reset();

  width: auto;
  margin: 0 auto;
}

.applications__item {
  display: flex;
  text-align: center;
  padding-top: 98px;
}

.applications__item:nth-child(2n) {
  padding-top: 0;
}

.applications__block-image {
  width: 50%;
  padding-left: 185px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -159px;
    left: 18px;
    width: 404px;
    height: 100%;
    background-image: url("/images/icon_snowflake-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
  }
}

.applications__img {
  width: 270px;
  height: auto;
}

.applications__item:nth-child(2n) .applications__block-image {
  order: 2;
  padding: 62px 198px 0 0;


  &::after {
    background-image: url("/images/icon_snowflake-2.png");
    top: 374px;
    left: 319px;
  }
}

.applications__block-description {
  width: 50%;
  padding-left: 9px;
  padding-top: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.applications__item:nth-child(2n) .applications__block-description {
  padding-left: 52px;
}

.applications__block-title {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  @include content-font();

  font-size: 25px;
  line-height: 18px;
  letter-spacing: 2.5px;
  color: #43a9ff;
}

.applications__item:nth-child(2n) .applications__block-title {
  padding: 70px 0 25px 260px;
}

.applications__block-text {
  width: 500px;
  padding-right: 200px;
  display: block;

  @include content-font();

  font-size: 10px;
  line-height: 22px;
  text-align: left;
  color: rgba(75, 88, 99, 0.35);
}

.applications__item:nth-child(2n) .applications__block-text {
  margin: 0;
  padding: 0;
  padding-left: 260px;
  width: 100%;
}
