.features {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 74px;
  padding-left: 15px;
  padding-right: 15px;
}

.features__headline-description {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-right: 28px;

  @include content-font();

  font-size: 11px;
  font-weight: 600;
  text-align: center;
  color: rgba(74, 87, 98, 0.35);
}

.features__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 110px;

  @include content-font();

  font-size: 28px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #000000;
}

.features__list {
  width: 100%;

  @include list-reset();

  padding: 0 15px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__item {
  width: 225px;
  text-align: center;
  margin-bottom: 50px;
}

.features__title {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;

  @include content-font();

  font-size: 11px;
  line-height: 14px;
  color: #000000;
  text-align: center;
}

.features__text {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;

  @include content-font();

  font-size: 9px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
  color: rgba(74, 87, 98, 0.35);
}

.features__btn {
  padding: 10px 25px;
  font-family: "Montserrat-bold", "Helvetica", "Arial", sans-serif;
  font-size: 8px;
  line-height: 1;
  text-align: center;
  color: #43a9ff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.features__btn:hover,
.features__btn:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 139, 252, 0.2);
}

.features__btn:active {
  outline: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
