.learn-more {
  width: auto;
  margin: 0 auto;
  padding-bottom: 700px;
  text-align: center;

  @include content-font();

  background-image: url("/images/bg_footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 163px;
}

.learn-more__description {
  margin: 0;
  padding: 78px 0 14px;

  font-size: 12px;
  line-height: 18px;
  color: rgba(75, 88, 99, 0.25);
}

.learn-more__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-size: 28px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: #000000;
}

.learn-more__btn {
  margin: 0;
  padding: 10px 44px;
  font-size: 9px;
  line-height: 1;
  color: #43a9ff;
  text-transform: lowercase;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.learn-more__btn:hover,
.learn-more__btn:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 139, 252, 0.2);
}

.learn-more__btn:active {
  outline: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
