.main-header__logo {
  position: relative;

  &::before {
    width: 415px;
    height: 415px;
    content: "";
    position: absolute;
    top: -415px;
    left: 50%;
    margin-top: 107px;
    margin-left: -207px;
    border-radius: 50%;
    box-shadow: 0 0 60px 0 #000000;
    background-color: #ffffff;
  }
}

.main-header__logo-text {
  margin: 0;
  padding: 0;

  @include content-font();

  font-size: 48px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #43a9ff;
  opacity: 0.99;
}

.main-header__logo-description {
  font-family: "Montserrat-bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #4b5863;
  opacity: 0.15;
}
