.main-header {
  min-height: 900px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("/images/bg_header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 260px;
}

.main-header__top {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 151px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.main-header__nav {
  width: 35px;
  height: 35px;
  margin-top: 35px;
  margin-left: 25px;
  background-color: #ffffff;
  background-image: url("/images/icon_menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
}

.main-header__nav:hover,
.main-header__nav:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 139, 252, 0.2);
}

.main-header__nav:active {
  outline: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.main-header__nav-list {
  display: none;
}

.main-header__logo {
  position: relative;

  &::before {
    width: 250px;
    height: 250px;
    content: "";
    position: absolute;
    top: -127px;
    left: 50%;
    margin-left: -125px;
    border-radius: 50%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: -1;
  }
}

.main-header__logo-text {
  margin: 0;
  padding: 0;
  padding-top: 38px;

  @include content-font();

  font-size: 30px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #43a9ff;
  opacity: 0.99;
}

.main-header__logo-description {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-bold", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(74, 87, 98, 0.35);
}

.main-header__search {
  position: relative;
  width: 35px;
  height: 35px;
  margin-top: 35px;
  margin-right: 25px;
  background-color: #ffffff;
  background-image: url("/images/icon_search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  }

.main-header__search:hover,
.main-header__search:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 139, 252, 0.2);
}

.main-header__search:active {
  outline: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.main-header__search-input {
  display: none;
  position: absolute;
  border: 1px solid #dddddd;
  border-radius: 5px;
  top: 9px;
  right: 63px;
  width: 338px;
  height: 50px;
  padding: 10px 15px;

  @include content-font();
  font-size: 18px;
  line-height: 1;
  color: rgba(74, 87, 98, 0.35);
}

.main-header__search-input--active {
  display: block;
}

.main-header__banner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-header__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  @include content-font();

  font-size: 28px;
  line-height: 18px;
  letter-spacing: 0.9px;
  color: #000000;
  text-align: center;
}

.main-header__description {
  margin: 0;
  padding: 0;
  padding-bottom: 52px;

  @include content-font();

  font-size: 11px;
  line-height: 1;
  color: rgba(74, 87, 98, 0.35);
  text-align: center;
}

.main-header__btn {
  padding: 10px 20px;
  font-family: "Montserrat-bold", "Helvetica", "Arial", sans-serif;
  font-size: 8px;
  line-height: 1;
  text-align: center;
  color: #43a9ff;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

.main-header__btn:hover,
.main-header__btn:focus {
  outline: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 139, 252, 0.2);
}

.main-header__btn:active {
  outline: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
