.main-header {
  padding-top: 57px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("/image/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
