.projects {
  width: auto;
}

.projects__list {
  @include list-reset();

  width: auto;
  display: flex;
  flex-direction: column;
}

.projects__item {
  width: auto;
  display: flex;
}

.projects__item:nth-child(2n) .projects__block-image {
  order: 2;
}

.projects__img {
  width: 985px;
  height: 100%;
}

.projects__block-description {
  width: 985px;
  padding-left: 110px;
  background-color: #f7f8fb;
}

.projects__item:nth-child(2n) .projects__block-description {
  padding-right: 273px;
  text-align: right;
}

.projects__title {
  margin: 0;
  padding: 0;
  padding-top: 205px;
  padding-bottom: 50px;

  @include content-font();

  font-size: 48px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #000000;
}

.projects__text {
  display: block;
  width: 500px;
  margin: 0;
  padding: 0;

  @include content-font();

  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #4b5863;
  opacity: 0.35;
}

.projects__item:nth-child(2n) .projects__block-description .projects__text {
  margin-left: auto;
}
